/* Start Variables */
:root {
    --main-color: rgb(185, 125, 240) ;
    --transparent-color: rgba(255, 255, 255, 0.7);
    --primary-color:#f6f7f8;
    --secondary-color:#1e2021;
    --section-padding: 100px;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
  }
  .dark-theme{
    --primary-color:#1e2021;
    --secondary-color:#f6f7f8;
  }
  /* End Variables */
  header{
    width: 100%;
    height: 35px;
    background-image: url(../images/y.jpg);
    padding: 20px;
    margin: 0;
    padding-right: 50px;
    text-align: center;
    padding-bottom: 20px;
    
  }
  .logo img{
    width: 45px;
    height: 45px;
    position: relative;
    top: -30px;
    right: 650px;
    margin-top: 20px;
  }
  nav {
    list-style-type: none;
    overflow: hidden;
    font-size: 1px;
    margin: 0;
    padding: 3px;
    background-color: #dddddd;
  }
  nav a{
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    width: 60px;
    padding: 14px 220px;
    margin: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  nav a:hover{
    background-color: white;
  }
  #menu{
    transition: 0.8s;
      
  }
  .sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(123, 200, 187, 0.708);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .all-menu{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .sidemenu a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  .sidemenu a:hover, .sidemenu  a:focus{
    color: #f1f1f1;
  }
  .sidemenu .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
      
  }
    
  @media screen and (max-height: 450px) {
    .sidemenu a {font-size: 40px}
    .sidemenu .closebtn {
    font-size: 60px;
    top: 15px;
    right: 35px;
    }
  }
  .profilemini {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  #profile {
    width: 40px;
    border-radius: 100%;
    position: relative;
    right: 430px;
    top: 20px;
  }
  #profilename {
    position: absolute;
    right: 280px;
    top: 30px;
    white-space: nowrap;
    text-decoration: none;
    color: #928e8e;
  }
  
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  #icon{
    position: absolute;
    font-size: 28px;
    width: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 30px; /* Adjust right position as needed */
    z-index: 999; /* Ensure the icon is on top */
    color: #fff; /* Set icon color */
    font-size: 24px; /* Set icon size */
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  
  
  }
  
  .container3 {
    padding-left: 145px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }Global Rules */
  
  /* Start Header */
  header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  height: 5em;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-style: normal;
  }
  
  header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
  }
  
  
  
  
  /* End Header */
  /* start title*/
  .title{
    display: block;
    margin-top: 2px;
    height: 100px;
  background-color:#0c2844;
  }
  .title h2{
    padding: 34px;
    color: #f6f7f8;
  }
  /* end title*/
  /* Start Landing */
  .landing {
    position: relative;
  }
  .landing video{
    padding-left: 5px;
    margin: 5px 0 0;
    width: 600px;
    border-radius: 8px;
  }
  .landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
  }
  .landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }
  .landing .text {
    flex: 1;
    color: #1e2021;
  }
  
  .landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
    
  }
  
  .buy-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 8px 16px; 
    border-radius: 30px; 
    cursor: pointer;
    margin-top: 10px; 
  }
  
  .buy-button:hover {
    background-color: #666; 
  }
  
  
  
  
  /* End Landing */
  
  div.gallery {
    border: 5px solid #ccc;
    padding-bottom: -90px;
    height: 310px;
    width: 355px;
  }
  
  div.gallery:hover {
    border: 4px solid #0b0439;
  }
  
 
  .responsive {
    padding: 10px;
    float:left;
    width:380px;
    padding-bottom: 90px;
    margin-top: 100px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 52.333333%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  p{
    margin-left: -700px;
    color: #0c3d8c;
    margin-top: 30px;
    font-size: 35px;
    
  }
  
  hr.new5, .new4 {
    border: 10px solid rgb(0, 128, 122);
    border-radius: 5px;
    width: 1470px;
    margin-left: -770px;
  }
  #one{
    width: 1000px;
    margin-top: 50px;
    margin-left: -500px;
    position:relative;
    height: 600px;
    
  }
  #p3{
    color: #130711;
    font-size: 27px;
    font-style: oblique;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  #one  tr:hover {background-color: #D6EEEE;}
  
  video{
    padding-left: 60px;
    width: 500px;
  }
  .coupon {
    border: 5px dotted #6b666b;
    width: 770px;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 900px;
    padding-top: 40px;
    margin-top: 60px;
    margin-left: -400px;
  }
  
  .container {
    padding: 2px 10px;
    width: 750px;
    margin-bottom: 40px;
    margin-top: 20px;
    background-color: #78b0e7;
    font-size: 24px;
  }
  
  .promo {
    background: #ccc;
    padding: 3px;
  }
  
  .expire {
    color: red;
  }
  .coupon:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
  }
  .container2{
    font-size: 30px;
    margin-left: 720px;
    margin-top: 60px;
  }
  .dark-mode {
    background-color: black;
    color: white;
  }
  .columns {
    float: left;
    width: 56.3%;
    padding-left: 10px;
    position: relative;
    left: 5%;
    margin-left: -500px;
    margin-top: 20px;
   
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #197cbe;
    margin: 0;
    padding: 10;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(197, 176, 208, 0.596)
  }
  
  .price .header {
    background-color: #a1c6e1;
    color: rgb(47, 112, 132);
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #85b9f8;
    padding: 20px;
    text-align: center;
    color: #389ae4;
  }
  
  .price .grey {
    background-color: #370452;
    font-size: 20px;
  }
  
  .button {
    background-color: #8495a5;
    border: none;
    color: rgb(74, 73, 74);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
  
  