.topnav{
    width: 1430px;
    background-image:url(../images/y.jpg);
    padding: 0px;
    margin: 0;
    padding-right: 50px;
    text-align: center;
    padding-bottom:0px;
    
  }
  nav {
    list-style-type: none;
    overflow: hidden;
    font-size: 1px;
    padding: 3px;
    background-color: #dddddd;
    padding-bottom: -10px;
    margin-top: -50px;
  }
  nav a{
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 14px 80px;

    overflow: hidden;
    background-color: #dddddd;
  }
  nav a:hover{
    background-color: white;
  }
  #menu{
    transition: 0.8s;
      
  }
  
#profile {
    padding-bottom: 30px;
    width: 60px;
    position: relative;
    border-radius: 100%;
    left:200px ;
    top: -80px;
}
#profilename {
    position: relative;
    left: 500px;
    top: -90px;
    white-space: nowrap;
    text-decoration: none;
    color: #0d0f44;
    font-size: 35px;
}
html{
    background-image:url(../images/py1.jpg);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
  }
  .title{
    display: block;
    margin-top: -18px;
    margin-bottom: 60px;
    height: 100px;
    background-color: #04053f;
  }
  .title h2{
    padding: 34px;
    color: #f6f7f8;
  }
  
  .logo img{
    width: 45px;
    height: 45px;
    position: relative;
    top: 0;
    left: 2px;
    margin-top: 20px;
  }
 
  #menu{
    transition: 0.8s;
    
  }
  .sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background-color: rgba(123, 200, 187, 0.708);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .all-menu{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .sidemenu a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  .sidemenu a:hover, .sidemenu  a:focus{
    color: #f1f1f1;
  }
  .sidemenu .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidemenu a {font-size: 40px}
    .sidemenu .closebtn {
    font-size: 60px;
    top: 15px;
    right: 35px;
    }
  }
  
  #profile {
    width: 40px;
    position: relative;
    border-radius: 100%;
    left:400px ;
    top: -70px;
  }
  #profilename {
    position: relative;
    left: 400px;
    top: -80px;
    white-space: nowrap;
    text-decoration: none;
    color: #dddddd;
  }

  .headers {
    font-size: 45px;
    text-align: left;
    font-family: "Jersey 10", sans-serif;
    font-weight: 350;   ;
    color: rgb(17, 3, 69);
    text-shadow: 3px 4px 2px rgb(154, 178, 195);
    margin-left: 4px;
  }
  
  
  .about {
    background: linear-gradient(110deg, #ffffff, #ffffff, #f8f7f9);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: 100px;
  }
  
  .auu {
    background: linear-gradient(110deg, #ffffff, #ffffff, #ffffff);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .partenerr {
    background: linear-gradient(110deg, #ffffff, #ffffff, #ffffff);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  p {
    font-size: 20px;
  }
  
  .partt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    animation: fadeIn 1s ease;
  }
  
  .partt a {
    display: inline-block;
    margin: 1rem 1rem 0 0;
    text-align: center;
  }
  
  .partt a img {
    width: 150px;
    height: auto;
    transition: transform .2s;
  }
  
  .partt a img:hover {
    transform: scale(1.1);
  }
  
  
  
  .cert {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
    animation: fadeIn 1s ease;
  
  }
  
  .cert h2 {
    color: violet;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .allc {
    background: linear-gradient(110deg, #ffffff, #ffffff, #ffffff);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: calc(33.333% - 1rem);
    box-sizing: border-box;
    background-color: #fff;
    transition: background-color 0.5s ease;
  }
  
  details:hover {
    background-color: #f5f5f5;
  }
  
  details img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  summary {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(155, 202, 255);
    color: #060d3a;
    transition: background-color 0.5s ease;
  }
  
  summary:hover {
    background-color: rgb(110, 118, 127);
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  h1{
    padding-left: 110px;
    padding-top: 50px;
  }

  .modal-content {
    background-color: #a8cad7;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
  }
  
  .close {
    color: #4a2839;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  .button {
    background-color: #8495a5;
    border: none;
    color: rgb(74, 73, 74);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
}
pre {
  color: rgb(81, 81, 81);
  font-family: Arial;
  font-size: 150%;
  padding-left: 110px;
  }
  .buy-button {
    background-color: #060d3a;
    color: white;
    border: none;
    padding: 8px 16px; 
    border-radius: 50px; 
    cursor: pointer;
    margin-top: 10px; 
    margin-bottom: 150px;
    margin-left: -94px;
  }
  
  .buy-button:hover {
    background-color: #666; 
  }