@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* START feadback form seaction*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--yellow: #FFBD13;
	--blue: #4383FF;
	--blue-d-1: #3278FF;
	--light: #F5F5F5;
	--grey: #AAA;
	--white: #FFF;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
}
html {
    scroll-behavior: smooth;
  }
body {
	background-image: url(images/pexels.jpg);
    background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
}

 /* Small */
 @media (min-width: 800px) {
    .container {
      width: 8000px;
    }
  }
  /* Medium */
  @media (min-width: 1000px) {
    .container {
      width: 1000px;
    }
  }
  /* Large */
  @media (min-width: 1400px) {
    .container {
      width: 1400px;
    }
  }
  /* End Global Rules */

.wrapper {
	background: #021d3081;
    
	padding: 2rem;
	max-width: 576px;
	width: 100%;
	border-radius: .75rem;
	box-shadow: var(--shadow);
	text-align: center;
    opacity: 0.9;
}
.wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
    color: #F5F5F5;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
	margin-bottom: 1rem;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
.rating-text{
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
    color: #F5F5F5;
}
form .id{
    position: relative;
}
.id i{
    position: absolute;
    font-size: 20px;
    top: 30%;
    right:20px;
    transform: translate(-50%);
}
form input{
    width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
    padding-right: 45px;
}
textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background: var(--blue);
	color: var(--white);
}
.btn-group .btn.submit:hover {
	background: var(--blue-d-1);
}
.btn-group .btn.cancel {
	background: var(--white);
	color: var(--blue);
}
.btn-group .btn.cancel:hover {
	background: var(--light);
}

form input:focus,
form textarea:focus{
    border: 1px solid #889afd;
    color: #0e0811;
    transition: all 0.3s ease;
}
form input:focus::placeholder,
form textarea:focus::placeholder{
    padding-left: 4px;
    color: #889afd;
    transition: all 0.3s ease;
}
form input:focus+i{
    color: #889afd;
    transition: all 0.3s ease;
}
   /* END feadback form seaction*/