:root {
    --main-color: rgb(185, 125, 240) ;
    --transparent-color: rgba(255, 255, 255, 0.7);
    --primary-color:#f6f7f8;
    --secondary-color:#1e2021;
    --section-padding: 100px;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
  }
body{
    overflow-x: hidden;
    position: relative;
}

  .dark-theme{
    --primary-color:#1e2021;
    --secondary-color:#f6f7f8;
  }
  /* End Variables */
  header{
    width: 100%;
    height: 35px;
    background-image: url(../images/y.jpg);
    padding: 20px;
    margin: 0;
    padding-right: 50px;
    text-align: center;
    padding-bottom: 20px;
    
  }
  .logo img{
    width: 45px;
    height: 45px;
    position: relative;
    top: -30px;
    right: 650px;
    margin-top: 20px;
  }
  nav {
    list-style-type: none;
    overflow: hidden;
    font-size: 1px;

    padding: 3px;
    background-color: #dddddd;
   
  }
  nav a{
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 19px 234.9px;
    margin: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  nav a:hover{
    background-color: white;
  }
  
  #menu{
    transition: 0.8s;
      
  }
  .sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -130;
    background-color: rgba(123, 200, 187, 0.708);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .all-menu{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    
  }
  .sidemenu a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  .sidemenu a:hover, .sidemenu  a:focus{
    color: #f1f1f1;
  }
  .sidemenu .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
      
  }
    
  @media screen and (max-height: 450px) {
    .sidemenu a {font-size: 40px}
    .sidemenu .closebtn {
    font-size: 60px;
    top: 15px;
    right: 35px;
    }
  }
  .profilemini {
    position: absolute;
    right: -50px;
    top: 0px;

  }
  #profile {
    width: 40px;
    border-radius: 100%;
    position: relative;
    right: 520px;
    top: 20px;
    
  }
  #profilename {
    position:absolute;
    right: 320px;
    top: 30px;
    white-space: nowrap;
    text-decoration: none;
    color: #0a1b6e;
    font-size: 26px;
  }
  .pa{
    position: relative;
    right: -600px;
    top: -30px;
  }
  #fsrch{
    border-radius: 5px;
    border-color: #0a1b6e;
    width: 170px;
    height: 30px;
    font-size: 20px;
  }
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  #icon{
    position: absolute;
    font-size: 28px;
    width: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 30px; /* Adjust right position as needed */
    z-index: 999; /* Ensure the icon is on top */
    color: #fff; /* Set icon color */
    font-size: 24px; /* Set icon size */
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  background-color: #e3e3f6cb;
  
  }
  
  .container3 {
    padding-left: 145px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }Global Rules */
  
  /* Start Header */
  header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  height: 5em;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-style: normal;
  }
  
  header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
  }
  
  
  
  
  /* End Header */
  /* start title*/
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    top: -110px;
    right: 60px;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    box-sizing: border-box;
    background-image: url('../images/search.png');
    background-position: 290px 6px;
    background-repeat: no-repeat;
    font-size: 25px;
    margin: 1px;
    padding:10px 15px 10px 15px;
    border: none;
    border-radius: 20px;
    border-bottom: 1px solid #ddd;
}
  
#myInput:focus {outline: 2px solid #ddd;}
  
.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#e6e0f9;
    border-radius: 18px;
    min-width: 100px;
    border: 5px solid rgb(74, 72, 72);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color:azure;
    border-radius: 18px;    
}
#homeback{
    width: 100%;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    z-index: 0;
}
.textback{
    z-index: 1;
    position: relative;
    top: -400px;
    left: 440px;
}
#registerbtn{
    position: relative;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 0%, rgba(2,0,36,1) 100%);
    color: aliceblue;
    font-weight: 100;
    z-index: 2;
    top: -350px;
    left: 670px;
    width: 150px;
    height: 50px;
    border-top-right-radius:500px ;
    border-top-left-radius: 500px;
    border-bottom-left-radius:500px ;
    border-bottom-right-radius:500px ;
    border-bottom: 0px solid #ddd;
    border-top: 0px solid #ddd;
    border-left: 0px solid #ddd;
    border-right: 0px solid #ddd;
    box-shadow: 0px 2.5px 5.3px rgba(0, 0, 0, 0.055),
      0px 8.6px 17.9px rgba(0, 0, 0, 0.085), 0px 45px 80px rgba(0, 0, 0, 0.07);
     transition: width 0.1s, height 0.1s;
    }
      #registerbtn:hover {
       
        width: 152px;
        height: 52px;
        border-bottom: 0px solid #000000;
        border-top: 0px solid #000000;
        border-left: 0px solid #000000;
        border-right: 0px solid #000000;
      }
      #certbtn{
        position: relative;
        background: rgb(0,212,255);
        background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 0%, rgba(2,0,36,1) 100%);
        color: aliceblue;
        font-weight: 100;
        z-index: 2;
        top: -290px;
        left: 507.5px;
        width: 170px;
        height: 50px;
        border-top-right-radius:500px ;
        border-top-left-radius: 500px;
        border-bottom-left-radius:500px ;
        border-bottom-right-radius:500px ;
        border-bottom: 0px solid #ddd;
        border-top: 0px solid #ddd;
        border-left: 0px solid #ddd;
        border-right: 0px solid #ddd;
        box-shadow: 0px 2.5px 5.3px rgba(0, 0, 0, 0.055),
          0px 8.6px 17.9px rgba(0, 0, 0, 0.085), 0px 45px 80px rgba(0, 0, 0, 0.07);
         transition: width 0.1s, height 0.1s;
        }
          #certbtn:hover {
           
            width: 172px;
        height: 52px;
            border-bottom: 0px solid #000000;
            border-top: 0px solid #000000;
            border-left: 0px solid #000000;
            border-right: 0px solid #000000;
          }
     
      .cpp{
        background-color: rgb(236, 232, 253);
        width: 200px;
        height: 200px;
        position: relative;
        z-index: 4;
        top: -200px;
        left:450px;
        border-top-left-radius: 10px;

    }
    #cpp
    {
        position: relative;
        top: 60px;
        left: 75px;
    }
    #txtcpp{
        position: relative;
        text-align: center;
        top: 73px;
    }
    .python{
        background-color: rgb(229, 226, 251);
        width: 200px;
        height: 200px;
        position: relative;
        z-index: 4;
        top: -400px;
        left:650px
    }
    #python{
        position: relative;
        top: 60px;
        left: 75px;
    }
    #txtpyth{
        position: relative;
        text-align: center;
        top: 73px;
    }

   
   
    .c{
        background-color: rgb(236, 232, 253);
        width: 200px;
        height: 200px;
        position: relative;
        z-index: 4;
        top: -600px;
        left:850px;
        border-top-right-radius: 10px;
    }
    #c{
        position: relative;
        top: 60px;
        left: 75px;
    }
    #txtc{
        position: relative;
        text-align: center;
        top: 73px;
    }
   
    hr.rounded {
        border-top: 5px solid  #020633;
        border-radius: 5px;
        position: relative;
        top: -480px;
        width: 800px;
      }


iframe:hover{
    
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.if1{
    margin: 20px; 
    top: -950px;
    position: relative;
}
.if1 iframe{
  left: 130px;
    border-radius: 10px;
    position: relative;
    top: 520px;

}

.if1 ol{
    padding-left: 700px;
    margin: -320px 40px;
    font-size: 23px;
    color: #235574;
    
    border-radius: 50px;
    
}
.if1 li{
    left: -90px;
    position: relative;
    font-style: italic;
    top: 640px;
}
hr.rounded1 {
    border-top: 5px solid  #020633;
    border-radius: 5px;
    position: relative;
    top: 100px;
    width: 800px;
    right: -718px;
  }
.if2{
    margin: 20px; 
    top: -1050px;
    position: relative;
}
.if2 iframe{
  left: 1000px;
    border-radius: 10px;
    position: relative;
    top: 1200px;

}

.if2 ol{
    padding-left: 700px;
    margin: -320px 40px;
    font-size: 23px;
    color: #235574;
    
    border-radius: 50px;
    
}
.if2 li{
    left: -600px;
    position: relative;
    font-style: italic;
    top: 1330px;
}
hr.rounded2 {
    border-top: 5px solid #020633;
    border-radius: 5px;
    position: relative;
    top: 650px;
    width: 800px;
    left: -20px;
  
  }
.if3{
    margin: 20px; 
    position: relative;
}
.if3 iframe{
  left: 130px;
    border-radius: 10px;
    position: relative;
    top: 720px;
   
}

.if3 ol{
    padding-left: 700px;
    margin: -320px 40px;
    font-size: 23px;
    color: #235574;
    border-radius: 50px;
}
.if3 li{
    left: -90px;
    position: relative;
    font-style: italic;
    top: 850px;
   
}

.comment-box, .post-comment .list{
    top: 1270px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0002;
    position: relative;
}

.comment-session{
    width: 650px;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 70px;
    left: -320px;
}
.post-comment .list{
    width: 100%;
    margin-bottom: 50px;
}
.post-comment .list .user{
    display: flex;
    padding: 20px;
    margin-top: 10px;
    overflow: hidden;
}
.post-comment .list .user img{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-session .name{
    text-transform: uppercase;
    font-weight: 500;
}
.post-comment .list .day{
    font-size: 12px;
}
.post-comment .comment-post{
    padding: 0 0 30px 58px;
    padding-top: 40px;
}
.comment-box{
    position: relative;
    right: -700px;
   top: 800px;
    padding: 10px;
    overflow: hidden;
}
.comment-box .user{
    display: flex;
    width: min-content;
}
.comment-box .image img{
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-box textarea{
    background: #eee;
    width: -webkit-fill-available;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    resize: inherit;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 1px #0003;
}
.comment-box textarea:focus-visible{
    box-shadow: inset 0 0 0 1px #009cff;
    outline: none;
}
.comment-box .comment-submit{
    float: right;
    padding: 6px 10px;
    border: none;
    background: #009cff;
    color: #eee;
    cursor: pointer;
    border-radius: 3px;
}
.comment-box .comment-submit:hover{
    background: #0076bf;
}
.fa {
    font-size: 20px;
    padding-left: 600px;
    position: relative;
    top: -90px;
    cursor: pointer;
    user-select: none;
}
  
.fa:hover {
    color: darkblue;
}
@media screen and(max-width:660px) {
    .comment-session{
      width: 100%;
    } 
}
.footer{
    background-color: #3d4144;
    padding: 5px 2px;
  
    position: absolute;
    top: 2800px;
}
.left{
    padding-left: 40px;
}
.left h2{
    color:rgb(185, 125, 240);
    font-size: 30px;
    position: relative;
    top: 140px;
}
.left p{
    padding-top: 40px;
    color:white;
    font-size: 24px;
    position: relative;
    top: 120px;
}
.center{
    padding-left: 700px;
    padding-top: -100px;
}
.center h3{
    font-size: 30px;
    color:rgb(185, 125, 240);
    position: relative;
    top: -100px;
}
.center p{
    display: block;
    font-size: 29px;
    color:white;
    position: relative;
    top: -70px;
    right: 100px;
}
.right{
    padding-left: 1290px;
}
.right h3{
    font-size: 30px;
    color:rgb(185, 125, 240);
    position: relative;
    top: -270px;
}
.right li{
    display: inline;
    text-decoration: none;
    position: relative;
    top: -220px;
    right: 10px;
    font-size: 30px;
    padding-right: 80px;
}
.right i{
    color: white;
}
.right i:hover{
    color:rgb(70, 70, 237);
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
  
.chat-popup {
    display: none;
    position: absolute;
    bottom: -120px;
    right: -15px;
    border: 4px solid rgb(109, 67, 11);
    z-index: 5;
    width: 350px;
}
  
.form-container {
    max-width:700px;
    padding: 10px;
    background-color: white;
    z-index: 10;
    position: absolute;
}
  
.form-container textarea {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
  
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
.form-container .cancel {
    background-color: red;
}
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
