*{
  font-family: "ununtu", sans-serif;
  padding: 0;
  margin: 0;
  padding-left:2px;
  padding-right: 2px;
  margin-left: -6px;
}

body{
  display: flex;
  background:whitesmoke;
  flex-wrap: wrap;
  overflow: scroll;
  font-size: 20px;
}
.title{
  display: block;
  margin-top: 2px;
  height: 100px;
background-color:#0c2844;
}
.title h2{
  padding: 34px;
  color: #f6f7f8;
}
/* end title*/
/* Start Landing */
.landing {
  position: relative;
}
.landing video{
  padding-left: 5px;
  margin: 5px 0 0;
  width: 600px;
  border-radius: 8px;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
  color: #1e2021;
}

.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
  
}

.buy-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 8px 16px; 
  border-radius: 30px; 
  cursor: pointer;
  margin-top: 10px; 
}

.buy-button:hover {
  background-color: #666; 
}




div.gallery {
  border: 5px solid #ccc;
}

div.gallery:hover {
  border: 6px solid #2f056d;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 13px;
  float:left;
  width:300px;
  margin-top: 160px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 52.333333%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
hr.new5, .new4 {
  border: 10px solid rgb(0, 128, 122);
  border-radius: 5px;
  width: 1500px;
}
#one{
  width: 60%;
  margin-top: 50px;
  padding-left: 60px;
}
#p3{
  border-style: none;
  color: #742e6a;
}
th, td {
  text-align: left;
  padding: 8px;
}
#one  tr:nth-child(even) {background-color: #bebbbb;}
#one  tr:hover {background-color: #D6EEEE;}
table{
  margin-top: 70px;
  padding-left: 850px;
  height: 50vh;
  width: 130px;
}
td{
  border-style:outset;
  border-color:#57b58ff3;
  color: #025284;
  font-size: 25px;
  border-radius: 6px;
}
video{
  padding-left: 60px;
}
.coupon {
  border: 5px dotted #6b666b;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 40px;
  margin-top: 60px;
}

.container {
  padding: 2px 14px;
  background-color: #78b0e7;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}
.coupon:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}
.dark-mode {
  background-color: black;
  color: white;
}
