*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0c2749;
    font-family: Arial, Helvetica, sans-serif;
}

.Wrapper{
    background-color: #ffff;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(46, 45, 45, 0.5);
    border-radius: 10px;

}
.Wrapper h2{
    background-color: #4e82f2;
    color:#ddd3d3;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
    border: 2px dashed #556ab7;
}
.Wrapper h4{
    padding-bottom: 5px;
    color: #4e82f2;
}
.input_group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    
}
.input_box{
    width: 100%;
    margin-right: 12px;
    position: relative;
}
.input_box:last-child{
    margin-right: 0;
}
.input_box .name{
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #0003;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}
.input_box .name:focus, .dov:focus{
    -webkit-box-shadow:0 0 2px 1px #314c91;
    -moz-box-shadow:0 0 2px 1px #314c91;
    box-shadow: 0 0 2px 1px #314c91;
    border: 1px solid #314c91;
}
.input_box .icon{
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top:0px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid #00000003;
    border-right: none;
}
.name:focus+.icon{
    background-color: #1f2474;
    color: #fff;
    border: 1px solid #21316f;
    border: none;
    transition: 1s;
}
.dob{
    width: 30%;
    padding: 14px;
    float: inline-start;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    border: 1px solid #c0bfbf;
}
.radio{
    display: none;
}
.input_box label{
    width: 50%;
    padding: 14px;
    background-color: #fcfcfc;
    display:inline-block;
    float:left;
    text-align: center;
    border: 2px solid  #c0bfbf;
}
.input_box label:first-of-type{
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
}
.input_box label:last-of-type{
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.radio:checked+ label{
    background-color: #314c91;
    color: #fff;
    transition: 0.5s;
}
.input_box button{
    width: 90%;
    background-color: #314c91;
    color: #fff;
    border: none;
    padding: 15px;
    margin-left: 20px;
    border-right: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 8px;
}
.input_box button:hover{
    cursor: pointer;
    background-color: #4729eb;
}

