:root {
  --main-color: rgb(83, 12, 150) ;
  --transparent-color: rgba(255, 255, 255, 0.7);
  --primary-color:#f6f7f8;
  --secondary-color:#1e2021;
  --section-padding: 100px;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}

.logo img{
  width: 45px;
  height: 45px;
  position: relative;
  top: -30px;
  right: 650px;
  margin-top: 20px;
}
  nav {
    list-style-type: none;
    overflow: hidden;
    font-size: 1px;
    margin: 0;
    padding: 8px;
    background-color: #dddddd;
  }
  nav a{
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    padding: 14px 220px;
    margin: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  nav a:hover{
    background-color: white;
  }
  #menu{
    transition: 0.8s;
      
  }

  .dark-theme{
    --primary-color:#1e2021;
    --secondary-color:#f6f7f8;
  }
  .logo img{
    width: 45px;
    height: 45px;
    position: relative;
    top: 0;
    left: 2px;
    margin-top: 20px;
  }

  #menu{
    transition: 0.8s;
    
  }
  .sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background-color: rgba(123, 200, 187, 0.708);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .all-menu{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .sidemenu a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  .sidemenu a:hover, .sidemenu  a:focus{
    color: #f1f1f1;
  }
  .sidemenu .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidemenu a {font-size: 40px}
    .sidemenu .closebtn {
    font-size: 60px;
    top: 15px;
    right: 35px;
 }
}
  
#profile {
    width: 60px;
    position: relative;
    border-radius: 80%;
    left:870px ;
    top: -5px;
}
#profilename {
    position: relative;
    left: 900px;
    top: -20px;
    white-space: nowrap;
    text-decoration: none;
    color: #444242;
    font-size: 25px;
}
html{
    background-image:url(../images/py1.jpg);
}
li{
color: rgb(200, 195, 205);
font-size: large;

}
li:hover{
    cursor: pointer;
    transform: scale(1.1);
}
a{
text-align: center;
font-size: 70px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}Global Rules */


h2{
color: #22adc9;
cursor: pointer;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h3:hover{
cursor: pointer;
transform: scale(1.1);
}

h3{
color: #211b4b;
}

p:hover{
cursor: pointer;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
  }
  .title{
    display: block;
    margin-top: 2px;
    margin-bottom: 160px;
    height: 100px;
    background-color: #0c2844;
  }
  .title h2{
    padding: 34px;
    color: #f6f7f8;
  }
  
  .landing {
    position: relative;
  }
  .landing video{
    padding-left: 5px;
    margin: 5px 0 0;
    width: 600px;
    border-radius: 8px;
  }
  .landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
  }


pre {
color: rgb(81, 81, 81);
font-family: Arial;
font-size: 150%;
}
.buy-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 8px 16px; 
  border-radius: 50px; 
  cursor: pointer;
  margin-top: 10px; 
  margin-bottom: 150px;
}

.buy-button:hover {
  background-color: #666; 
}

  
  #myProgress {
    width: 100%;
    background-color: #ddd;
  }
  li{
    color: #1787e0;
  }
  
  #myBar {
    width: 10%;
    height: 30px;
    background-color: #97e4ef8c;
    text-align: center;
    line-height: 30px;
    color: rgb(33, 130, 122);
}
.pros-cons-table:hover{
    cursor: pointer;
transform: scale(1.1);
}

.pros-cons-table {
margin-left: 120px;
font-size: 15px;
width: 70%;
left: 500px;
border-collapse: collapse;
}
.pros-cons-table th,
.pros-cons-table td {
border: 1px solid #6989f1;
padding: 8px;
}

.pros-cons-table th {
background-color: #6f9cb4;
text-align: left;
}
.pros-column {
background-color: #b9d6f8;
}
.cons-column {
background-color: #bde7fa;
}
.rounded-img {
    border-radius: 30%; /* This will make the image round */
    float: left; /* This will align the image to the left */
    margin: 10px; /* This adds some space around the images */
    width: 100px; /* Set the width of the images */
    height: 100px; /* Set the height of the images */
  }
  /* Clearfix to contain the floated images */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.video-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.video {
    width: 45%; /* Adjust the width as needed */
}
* {
    box-sizing: border-box;
  }
  
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #197cbe;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(197, 176, 208, 0.596)
  }
  
  .price .header {
    background-color: #a1c6e1;
    color: rgb(47, 112, 132);
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #85b9f8;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #370452;
    font-size: 20px;
  }
  
  .button {
    background-color: #8495a5;
    border: none;
    color: rgb(74, 73, 74);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
}
