*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}

nav {
    list-style-type: none;
    overflow: hidden;
    font-size: 1px;
    margin: 0;
    padding: 3px;
    background-color: #dddddd;
  }
  nav a{
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 14px 220px;
    margin: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  nav a:hover{
    background-color: white;
  }
  #menu{
    transition: 0.8s;
      
  }
#profile {
    padding-bottom: 50px;
    width: 60px;
    position: relative;
    border-radius: 100%;
    left:1100px ;
    top: 15px;
}
#profilename {
    position: relative;
    left: 1100px;
    top: -50px;
    white-space: nowrap;
    text-decoration: none;
    color: #beb9b9;
    font-size: 35px;
}
html{
    background-image:url(../images/py1.jpg);
}
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(3, 28, 51);
    background-size: cover;
    background-position: center ;
}
.all-form , .all-form1{
   position: relative;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black ;
    padding: 15px;
    color: #fff;
    /*//height: 500px;*/
    width: 450px;
}
.all-form{
    left: 35%;
    height: 500px;
}
.all-form1{
    left: 35%;
    height: 650px;
}
.all-form h1 , .all-form1 h1{
    font-size: 36px;
    text-align: center;
}
.all-form h1{
    padding: 20px;
}
.all-form1 h1{
    margin-bottom: 20px;
}
.all-form .input-box1 , .all-form1 .input-field{
    position: relative;
    width: 100%;
}
.all-form .input-box1{
    height: 50px;
    margin: 30px 0 45px;
}
.all-form1 .input-field{
    height: 40px;
    margin: 30px 0;
}
.input-box1 input , .input-box .input-field input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    /*//border-radius: 40px;*/
    font-size: 16px;
    color: #fff;
    /*//padding: 20px 45px 20px 20px;*/
}
.input-box1 input{
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}
.input-box .input-field input{
    border-radius: 20px;
    padding: 10px;
}
.input-box1 input::placeholder , .input-box .input-field input::placeholder{
    color: #fff;
}
.input-box1 i , .input-box .input-field i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.all-form .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 30px 0 30px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
    padding-left: 100px
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.all-form .btn , .all-form1 .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: black;
    font-weight: 600;

}
.all-form .register-link{
    font-size: 18px;
    text-align: center;
    margin: 30px 0 15px;
}
.register-link p a , .login-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a , .login-link p a:hover{
    text-decoration: underline;
}
.all-form1 .login-link{
    font-size: 18px;
    text-align: center;
    margin: 30px 0 15px;
}

.login_form #name_error ,
.login_form #pass_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #f00202;
    margin-left: 15px;
    text-align: center;
    /*padding: 1px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A; */
    display: none;
}
.input-field .error{
    color: #ff3860;
    font-size: 18px;
    text-align: center;
    height: 13px;
}
